@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
form::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .btn-invoice {
    @apply px-6 py-4 font-bold rounded-full shrink-0 text-[15px] text-white hover:bg-opacity-70;
  }
}
